.title {
   font-size: 20px;
   font-weight: lighter;
   display: flex;
   align-items: center;
   justify-content: center;
}

.info {
   display: flex;
   justify-content: space-between;
   margin: 0 15% 0 15%;
}

.groupJoining {
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
}

.groupTwo {
   color: #968585;
}

.groupOne {
   display: flex;
   align-items: center;
   margin-right: 25px;
}

.groupOne p {
   font-size: 60px;
}

.groupOne img {
   height: 100px;
   object-fit: cover;
}

.groupthree {
   display: flex;
   justify-content: center;
   flex-direction: column;
   color: #968585;
}

@media (max-width: 768px) {
   .info {
      margin: 0;
   }

   .groupJoining {
      width: 90%;
      display: flex;
      text-align: start;
      justify-content: space-between;
   }

   .groupOne p {
      font-size: 25px;
   }

   .groupOne img {
      height: auto;
      object-fit: cover;
   }

   .groupthree {
      display: none;
   }

   .groupTwo {
      font-size: 15px;
   }
}
